<script lang="ts" setup>
import GuestLayout from '@/layout/GuestLayout.vue';
import { ref } from 'vue';
import { useAuthStore } from '@/store/authStore.ts';
import router from '@/router';

defineOptions({
    name: 'LoginPage',
    components: { GuestLayout },
});

const email = ref<string>('');
const password = ref<string>('');
const error = ref<boolean>(true);

const authStore = useAuthStore();

const login = async (event: Event) => {
    event.preventDefault();
    await authStore.login(email.value, password.value);
    if (authStore.dataAuth.authenticated) {
        await router.push('/dashboard');
    }
};
</script>

<template>
    <GuestLayout>
        <div class="flex min-h-screen items-center justify-center">
            <div class="bg-white dark:bg-gray-900 shadow-md rounded-lg px-8 py-6 max-w-md">
                <h1 class="text-2xl font-bold text-center mb-4 dark:text-gray-200">Welcome Back!</h1>
                <form action="" @submit.prevent="login">
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
                        >Email Address</label
                        >
                        <input
                            id="email"
                            v-model="email"
                            type="text"
                            class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                            placeholder="your@email.com"
                            required
                        />
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
                        >Password</label
                        >
                        <input
                            id="password"
                            v-model="password"
                            type="password"
                            class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                            placeholder="Enter your password"
                            required
                        />
                        <a
                            href="#"
                            class="text-xs text-gray-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        >Forgot Password?</a
                        >
                    </div>
                    <div class="flex items-center justify-between mb-4">
                        <div class="flex items-center">
                            <input
                                id="remember"
                                type="checkbox"
                                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500 focus:outline-none"
                                checked
                            />
                            <label for="remember" class="ml-2 block text-sm text-gray-700 dark:text-gray-300"
                            >Remember me</label
                            >
                        </div>
                        <a
                            href="#"
                            class="text-xs text-indigo-500 hover:text-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        >Create Account</a
                        >
                    </div>
                    <button
                        type="submit"
                        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                        Login
                    </button>
                    <div v-if="error" class="mt-2 p-0.5">
                        <pre>{{ JSON.stringify(authStore.dataAuth, null, 2) }}</pre>
                    </div>
                </form>
            </div>
        </div>
    </GuestLayout>
</template>

<style scoped></style>
