<script lang="ts" setup>
import { API } from '@/services';

defineOptions({
    name: 'DashboardPage',
});

const getData = async () => {
    await API.schedule.getAll();
};

getData();
</script>

<template>
    <div>Dashboard</div>
</template>

<style scoped></style>
