<script setup lang="ts">
defineOptions({
    name: 'App',
});
</script>

<template>
    <div id="app" class="bg-slate-400">
        <router-view></router-view>
    </div>
</template>

<style scoped></style>
