<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'GuestLayout',
});
</script>

<template>
    <div class="bg-gray-50 dark:bg-slate-800 dark:text-slate-100">
        <slot></slot>
    </div>
</template>

<style scoped></style>
